<% include header %>
    <!-- <h1>Welcome to Yelp Camp!</h1>

    <a href="/campgrounds">Show all campgrounds</a>
    <a href="/campgrounds/new">Add new Campground</a> -->
    <div class="container">

    </div>    

    <div id="landing-header">
        <h1>Welcome to GoCamping!</h1>
        <a href="/campgrounds" class="btn btn-lg btn-success">View All Campgrounds</a>
        <!-- <a href="/campgrounds/new" class="btn btn-lg btn-success">Add new Campground</a> -->
    </div>

    <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>



<% include footer %>
